                                                           ./files/nginx.conf.j2
server {
       listen {{ ansible_all_ipv4_addresses }}:80;
       server_name {{ server_name_server2 }};
       root /var/www/html;
       index index.html;
       location /python11 {
                proxy_pass http://{{ proxy_pass_app11s1 }}/;
       }
       location /python12 {
               proxy_pass http://{{ proxy_pass_app12s1 }}/;
       }
}
server {
       listen {{ ansible_all_ipv4_addresses }}:80;
       server_name {{ server_name_app21s2 }};
       root /var/www/html;
       index index.html;
       location / {
                proxy_pass http://{{ proxy_pass_app21s2 }}/;
        }
}

server {
       listen {{ ansible_all_ipv4_addresses }}:80;
       server_name {{ server_name_app22s2 }};
       root /var/www/html;
       index index.html;
       location / {
                proxy_pass http://{{ proxy_pass_app22s2 }}/;
       }
}
